<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LocalPath"  value="D:\ftp\Client"/>
    <add key="WebPath"  value="ftp://cysoft.uicp.net/Client/"/>
    <add key="InfoPath"  value="http://www.baidu.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
